* {
  box-sizing: border-box;
}

article{
  position: relative;
  display: inline-block;
  width: 300px;
}

.heart {
  /* position: relative;
  bottom: 150px;
  right: 280px; */

  /* position: absolute;
  top: 130px;
  left: 20px; */
  position: absolute;
  top: 20px;
  left: 20px;
}

.photo {
  /* position: relative;
  bottom: 70px;
  left: 80px; */

  /* position: absolute;
  top: 230px;
  left: 80px; */
  border-radius: 60px;

  position: absolute;
    top: 130px;
    left: 80px;
}