* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

header p {
  background-color: #1CD1B0;
  padding-left: 10px;
}

.container_logo{
  background-color: #00669F;
}

.container_logo img{
  width: 60px;
}

.container_logo a{
  display: flex;
  align-items: center;
}

h1 {
  color: white;
  padding: 10px;
}

nav{
  background-color: #001D2D;
  margin-bottom: 2%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.content_index {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content_registrarme {
  margin: 0px 20px;
  display: flex;
  justify-content: center;
}

.content_personajes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.row_form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.column_form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input_form_border {
  border-radius: 8px;
  border: 0px;
  height: 30px;
}

#description{
  border-radius: 10px;
}

article {
  position: relative;
  display: inline-block;
  width: 300px;
  background-color: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
}

.cover_personaje {
  width: 300px;
  border-radius: 20px 20px 0px 0px;
}

.heart {
  position: absolute;
  top: 20px;
  left: 20px;
}

.photo {
  border-radius: 60px;
  width: 120px;
  position: relative;
  top: -60px;
  left: 90px;
}

.description {
  position: relative;
  top: -50px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description button {
  width: 100px;
  height: 34px;
  background-color: #00669F;
  border-radius: 7px;
  border: none;
  color: white;
  margin-top: 20px;
}

h3 {
  margin: 10px 0px;
  text-align: center;
}

.add {
  max-height: 44px;
  max-width: 44px;
  min-height: 44px;
  min-width: 44px;
  font-size: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #00669F;
  color: white;
  margin-bottom: 10%;
  border: none;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #00669F;
  color: white;
  width: 100%;
  left: 0;
}

.container_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25%;
  padding: 10px;
}

.form_registrarme {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #00669F;
  color: white;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 49.0901px;
  margin: 0 100px;
  padding: 10px 50px;
}

.button_form_registrarme {
  background-color: #1CD1B0;
  height: 47px;
  border-radius: 15px;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  width: 50%;
  margin: 10px 100px;
  padding: 10px 50px;
  cursor: pointer;
}

footer img {
  height: 37px;
}

@media (max-width: 1024px) {
  .content_personajes {
    flex-direction: column;
  }

  .row {
    margin: 0 0 10% 0;
  }

  .add {
    position: absolute;
    top: 720px;
  }

}

@media (max-width: 460px) {
  .content_personajes {
    margin-bottom: 30%;
  }

  .row {
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
  }

  .row_form {
    flex-direction: column;
  }

  .column_form {
    width: auto;
  }

  article {
    margin-bottom: 20%;
  }

  .add {
    top: 620px;
  }

  .content_registrarme {
    height: 100vh;
    margin-bottom: 300px;
  }

  .form_registrarme{
    height: 120vh;
  }

  .button_form_registrarme {
    width: auto;
  }
}